<template>
    <div id="e3" style="max-width: 400px; margin: auto;" class="grey lighten-3">
    
    
        <v-card>
            <v-container fluid grid-list-xl>
                <v-layout wrap align-center>
    
                    <v-flex>
                        <v-select :items="items" item-text="name" item-value="_id" :value="selected" label="Company name"></v-select>
                    </v-flex>
    
                    <v-flex xs12>
                        <v-card color="orange darken-1" class="white--text">
    
                            <v-card-title primary-title>
                                <v-flex xs12>
    
                                    <div class="headline">{{(100*(newCustomerRequests.length/requests.length))|integers}}%</div>
    
                                    <div class="headline">Customer Winning Rate</div>
                                </v-flex>
    
                                <v-flex xs7>
    
                                    <div>New Customers: {{newCustomerRequests.length}}</div>
                                    <div >Requests:{{requests.length}}</div>
                                </v-flex>
    
    
                            </v-card-title>
    
                        </v-card>
                    </v-flex>
    
                    <v-flex xs12>
                        <v-card color="orange darken-1" class="white--text">
    
                            <v-card-title primary-title>
                                <v-flex xs12>
    
                                    <div class="headline">{{(100*(fullfilledOrders.length/orders.length))|integers}}%</div>
    
                                    <div class="headline">Order Fullfillment</div>
                                </v-flex>
    
                                <v-flex xs7>
    
                                    <div>Fullfilled Orders: {{fullfilledOrders.length}}</div>
                                    <div>Orders: {{orders.length}}</div>
                                </v-flex>
    
    
                            </v-card-title>
    
                        </v-card>
                    </v-flex>
                    <v-flex xs12>
                        <v-card color="orange darken-1" class="white--text">
    
                            <v-card-title primary-title>
                                <v-flex xs12>
    
                                    <div class="headline">{{ratingsPercentage|integers}}%</div>
    
                                    <div class="headline">Customer Satisfaction</div>
                                </v-flex>
    
                                <v-flex xs7>
    
                                    <div>Recieved Ratings: {{ratings.length}}</div>
                                </v-flex>
    
    
                            </v-card-title>
    
                        </v-card>
                    </v-flex>
    
    
                </v-layout>
            </v-container>
        </v-card>
    </div>
</template>

<script>
    import {
        Requests,
        Orders,
        Ratings
    }
    from '../api/kpis'
    import {
        Companies
    } from '../api/companies'
    export default {
        filters: {
            integers: function(value) {
                return parseInt(value)
            }
        },
        data() {
            return {
                items: [],
                selected: null,
            }
        },
    
        meteor: {
            $subscribe:{
      'threads': [],

            },
            requests() {
               return Requests.find({}).fetch()
            },
            newCustomerRequests() {
                return Requests.find({
                    newCustomer: true
                })
            },
            orders() {
                return Orders.find({}).fetch()
            },
            fullfilledOrders() {
                return Orders.find({
                    fullfilled: true
                }).fetch()
            },
    
            ratingsPercentage() {
                ratings = Ratings.find({
    
                }).fetch()
                percentage = 0
                count = 0
                ratings.forEach((rating) => {
                    percentage = percentage + rating.basicCare * 20
                    percentage = percentage + rating.householdSupply * 20
                    percentage = percentage + rating.communication * 20
                    percentage = percentage + rating.visualAppearance * 20
                    percentage = percentage + rating.overallRating * 20
    
                    count = count + 5
                })
                return percentage / count
            },
            companies() {
                this.items = Companies.find({}).fetch()
                this.selected= Companies.findOne({})
                return Companies.find({}).fetch()
            },
            ratings() {
                    return Ratings.find({
    
                    }).fetch()
                
            },
    
        },
 
        
    
    };
</script>